/* Empty. Add your own CSS if you like */
.center{
  width: 100%;
  padding-top: 5px;
  text-align: center;
}

body{
  background-color: #222222;
  color: white;
}

.clock{
  font-size: 40px;
  text-align: center;
  border: 3px solid white;
  border-radius: 20px;
  height: 100px;
  width: 200px;
}
